# Default owners for everything
* @JamilurRahmanKhan @<FRIEND_GITHUB_USERNAME>

# Frontend source code
/src/ @JamilurRahmanKhan @<FRIEND_GITHUB_USERNAME>

/.github/ @JamilurRahmanKhan @<FRIEND_GITHUB_USERNAME>